@import url("https://fonts.googleapis.com/css?family=Khula|Scope+One");
@import url("https://fonts.googleapis.com/css?family=Khula|Scope+One");
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: #FFFFFF;
  color: #212121;
  font-family: "Khula", sans-serif;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Scope One", serif;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
  font-weight: 500; }

h1 {
  font-size: 3.5rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h1 {
      font-size: 3.75rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h1 {
      font-size: 4rem;
      line-height: 1.2; } }

h2 {
  font-size: 2.25rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h2 {
      font-size: 2.5rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-size: 3rem;
      line-height: 1.2; } }

h3 {
  font-size: 1.625rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h3 {
      font-size: 1.75rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 2rem;
      line-height: 1.2; } }

h4 {
  font-size: 1.125rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h4 {
      font-size: 1.125rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h4 {
      font-size: 1.25rem;
      line-height: 1.2; } }

h5 {
  font-size: 1rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h5 {
      font-size: 1rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h5 {
      font-size: 1rem;
      line-height: 1.2; } }

h6 {
  font-size: 0.75rem;
  line-height: 1.2; }
  @media screen and (min-width: 640px) {
    h6 {
      font-size: 0.75rem;
      line-height: 1.2; } }
  @media screen and (min-width: 1024px) {
    h6 {
      font-size: 0.75rem;
      line-height: 1.2; } }

p {
  font-size: 16px;
  font-family: "Khula", sans-serif;
  margin-bottom: 1rem; }

.link {
  color: #ABC148;
  outline-width: 0;
  text-decoration: none;
  transition: 0.2s; }

.link:hover, .link:focus, .link:active {
  color: rgba(171, 193, 72, 0.75); }

.btn {
  display: inline-block;
  color: white;
  background-color: #7F9425;
  border: none;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 16px;
  transition: 0.2s; }
  .btn:hover {
    background-color: #ABC148; }
  .btn:hover, .btn:focus, .btn:acitve {
    outline: none; }

.burger {
  width: 20px;
  height: 3px;
  background-color: #7F9425;
  position: relative;
  cursor: pointer;
  z-index: 5; }
  .burger:before, .burger:after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background-color: #7F9425;
    position: absolute; }
  .burger:before {
    top: -6px; }
  .burger:after {
    top: 6px; }
  .burger--active {
    background: transparent; }
  .burger--active:before {
    top: 0;
    transform: rotate(45deg); }
  .burger--active:after {
    top: 0;
    transform: rotate(-45deg); }

.carousel {
  width: 100% !important;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 5px 5px 20px 0px rgba(141, 141, 141, 0.25);
  top: -4.5rem;
  left: 0; }
  @media only screen and (min-width: 1024px) {
    .carousel {
      width: 624px !important;
      height: 100%;
      box-shadow: -5px 5px 20px 0px rgba(141, 141, 141, 0.25);
      top: 3rem;
      left: 8rem; } }
  .carousel__item {
    padding: 1rem; }
    @media only screen and (min-width: 1024px) {
      .carousel__item {
        padding-top: 2rem;
        padding-bottom: 2.5rem;
        padding-left: 2rem;
        padding-right: 2rem; } }
  .carousel .owl-nav {
    display: none !important; }
  .carousel .owl-dots {
    position: absolute;
    top: 100%;
    left: calc(50% - 60px);
    margin-top: 0.75rem; }
    @media only screen and (min-width: 1024px) {
      .carousel .owl-dots {
        left: 16rem; } }
  .carousel .owl-dot {
    width: 2rem;
    height: 3px;
    margin-left: 4px;
    margin-right: 4px; }
  .carousel .owl-dot span {
    width: 100% !important;
    height: 100% !important;
    background: rgba(188, 188, 188, 0.5);
    margin: 0 !important;
    transition: .2s; }
  .carousel .owl-dot:hover span {
    background: rgba(188, 188, 188, 0.8) !important; }
  .carousel .owl-dot.active span {
    background: #ABC148 !important; }
  .carousel .owl-dot.active span:hover {
    background: rgba(171, 193, 72, 0.8) !important; }
  .carousel .owl-dot:focus, .carousel .owl-dot:active, .carousel .owl-dot:hover,
  .carousel .owl-dot.active:focus, .carousel .owl-dot.active:active, .carousel .owl-dot.active:hover {
    outline: none !important;
    outline-color: transparent !important; }
  .carousel .owl-dot span:focus, .carousel .owl-dot span:active, .carousel .owl-dot span:hover,
  .carousel .owl-dot.active span:focus, .carousel .owl-dot.active span:active, .carousel .owl-dot.active span:hover {
    outline: none !important;
    outline-color: transparent !important; }
  .carousel--menu {
    width: 100% !important;
    box-shadow: none;
    top: 0;
    left: 0; }
    .carousel--menu .carousel__item {
      padding: 0;
      box-shadow: 0 1px 3px 0px rgba(33, 33, 33, 0.25); }

.owl-theme .owl-dots .owl-dot {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

.gallery {
  grid-column: 1/span 12; }
  .gallery__img--wrap {
    width: 100%;
    height: 320px;
    cursor: grab; }
    @media only screen and (min-width: 1024px) {
      .gallery__img--wrap {
        height: 480px; } }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }
  .gallery .owl-nav, .gallery .owl-dots {
    display: none !important; }

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem; }
  @media only screen and (min-width: 1024px) {
    .form {
      width: 49%;
      margin-top: 4rem; } }
  .form__label {
    display: block;
    color: #BCBCBC;
    font-family: "Scope One", serif;
    font-size: 0.75rem;
    line-height: 0.875rem; }
  .form__field {
    width: 100%;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 1024px) {
      .form__field {
        width: 49%; } }
    .form__field:nth-child(3) {
      width: 100%;
      margin-bottom: 1.25rem; }
  .form__input, .form__textarea {
    width: calc(100% - 20px);
    color: #FFFFFF;
    background-color: rgba(171, 193, 72, 0.3);
    border: none;
    line-height: 1.25rem;
    padding: 6px 10px; }
    .form__input:focus, .form__textarea:focus {
      background-color: rgba(171, 193, 72, 0.3);
      outline: none; }
  .form__textarea {
    resize: none; }
  .form__btn {
    width: 100%;
    display: flex;
    justify-content: flex-end; }

.map {
  width: 100%;
  height: 160px; }
  @media only screen and (min-width: 1024px) {
    .map {
      height: 256px; } }
  .map .leaflet-pane {
    z-index: 3 !important; }

.testimonial {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: calc(100% - 2rem);
  height: auto;
  box-shadow: 5px 5px 20px 0px rgba(141, 141, 141, 0.25);
  background-color: #FFFFFF;
  z-index: 1;
  position: relative;
  top: -4.5rem;
  right: 0; }
  @media only screen and (min-width: 1024px) {
    .testimonial {
      flex-direction: row;
      justify-content: space-between;
      width: calc(624px - 4rem);
      height: calc(100% - 4.5rem);
      padding-top: 2rem;
      padding-bottom: 2.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      top: 3rem;
      right: 5.5rem; } }
  .testimonial__img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    object-position: center; }
    @media only screen and (min-width: 1024px) {
      .testimonial__img {
        width: 150px;
        height: 150px; } }
  .testimonial__info {
    display: flex; }
    @media only screen and (min-width: 1024px) {
      .testimonial__info {
        display: block;
        text-align: center; } }
    .testimonial__info div {
      margin-left: 1.25rem; }
      @media only screen and (min-width: 1024px) {
        .testimonial__info div {
          margin-left: 0; } }
    .testimonial__info h4 {
      color: #344A20;
      line-height: 1.75rem;
      margin-top: 1rem;
      margin-bottom: 0; }
    .testimonial__info h6 {
      color: #4D4D4D;
      font-family: "Khula", sans-serif;
      margin: 0; }
  .testimonial__text {
    margin-top: 1.25rem; }
    @media only screen and (min-width: 1024px) {
      .testimonial__text {
        margin-top: 0;
        padding-left: 2rem; } }

.grid {
  display: grid;
  grid-template-columns: 1rem repeat(10, minmax(auto, 1fr)) 1rem;
  overflow: hidden; }
  @media only screen and (min-width: 1024px) {
    .grid {
      grid-template-columns: 8rem repeat(10, minmax(auto, 1fr)) 8rem; } }
  .grid--gap {
    grid-column-gap: 1rem; }

.section {
  grid-column: 2/span 10; }
  .section__title {
    text-align: center;
    margin-bottom: 1.25rem;
    padding-top: 2.5rem; }
    @media only screen and (min-width: 1024px) {
      .section__title {
        margin-bottom: 2rem;
        padding-top: 4rem; } }
  .section__item {
    display: flex;
    flex-wrap: wrap; }
  .section__item:nth-of-type(2) {
    margin-top: 0rem; }
    @media only screen and (min-width: 1024px) {
      .section__item:nth-of-type(2) {
        margin-top: 4rem; } }
    .section__item:nth-of-type(2) .section__img--wrap {
      margin-left: -1rem;
      order: 1; }
      @media only screen and (min-width: 1024px) {
        .section__item:nth-of-type(2) .section__img--wrap {
          margin-left: -8rem; } }
    .section__item:nth-of-type(2) .section__text {
      margin-left: 0;
      order: 2; }
      @media only screen and (min-width: 1024px) {
        .section__item:nth-of-type(2) .section__text {
          margin-left: 8rem; } }
  .section__text {
    width: 100%;
    height: auto;
    order: 2; }
    @media only screen and (min-width: 1024px) {
      .section__text {
        width: 50%;
        height: 354px;
        order: 1; } }
  .section__img--wrap {
    display: flex;
    width: calc(100% + 2rem);
    margin-left: -1rem;
    order: 1; }
    @media only screen and (min-width: 1024px) {
      .section__img--wrap {
        width: calc(50% + 8rem);
        height: 450px;
        margin-left: 0;
        margin-right: -8rem;
        order: 2; } }
  .section__img {
    display: flex;
    width: calc(100% + 2rem);
    height: 234px; }
    @media only screen and (min-width: 1024px) {
      .section__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; } }

.header {
  grid-column: 1/span 12;
  background-image: url("../img/header.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  color: #FFFFFF; }
  .header__title {
    padding-top: 10rem;
    position: relative;
    z-index: 2;
    line-height: 89px;
    text-align: center;
    text-shadow: 2px 2px #212121;
    margin-top: -16%; }
    @media only screen and (min-width: 1024px) {
      .header__title {
        margin-top: 1%; } }
    .header__title h1 {
      margin-bottom: 1rem; }
  .header__text {
    width: 258px;
    height: 136px;
    background: #7F9425;
    border-radius: 5px;
    position: relative;
    left: calc(50% - 129px);
    top: 18%;
    box-shadow: 2px 4px 10px 0 rgba(33, 33, 33, 0.25);
    text-align: center;
    transform: rotate(5deg); }
    @media only screen and (min-width: 1024px) {
      .header__text {
        line-height: 25px;
        top: 25%; } }
    .header__text h4 {
      padding-top: 1.75rem; }
    .header__text h6 {
      font-family: "Khula", sans-serif;
      line-height: 1.25rem; }
    .header__text:after {
      content: "";
      display: block;
      background: transparent;
      width: 238px;
      height: 116px;
      border-radius: 5px;
      border: 3px solid #fff;
      position: absolute;
      top: 7px;
      left: 7px;
      z-index: 2; }
  .header__dot {
    width: 5px;
    height: 5px;
    background-color: #8D8D8D;
    border-radius: 100%;
    box-shadow: 1px 1px 4px 0 rgba(33, 33, 33, 0.5);
    position: relative;
    top: 12%;
    left: calc(50% - 2.5px); }
    @media only screen and (min-width: 1024px) {
      .header__dot {
        top: 18%; } }
    .header__dot:before, .header__dot:after {
      content: "";
      display: block;
      width: 130px;
      height: 1px;
      background-color: #BCBCBC;
      position: absolute; }
    .header__dot:before {
      transform: rotate(-20deg);
      top: 1.5rem;
      right: calc(50% - 5px); }
    .header__dot:after {
      transform: rotate(27deg);
      top: 32px;
      left: calc(50% - 7px); }
  .header__img {
    top: -15%;
    position: absolute;
    left: calc(50% - 300px); }
    @media only screen and (min-width: 1024px) {
      .header__img {
        display: block;
        top: calc(45% - 262px); } }
  .header__img img {
    border-radius: 3px; }

.footer {
  grid-column: 1/span 12; }
  .footer__info--wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(100% - 2rem);
    color: #FFFFFF;
    background-color: #344A20;
    padding-left: 1rem;
    padding-right: 1rem; }
    @media only screen and (min-width: 1024px) {
      .footer__info--wrap {
        width: calc(100% - 16rem);
        padding-left: 8rem;
        padding-right: 8rem; } }
  .footer__info {
    margin-top: 1.5rem;
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .footer__info {
        width: 49%; } }
  .footer__text {
    list-style-type: none;
    padding-left: 0; }
    .footer__text li {
      display: flex;
      align-items: center;
      margin-bottom: 1rem; }
    .footer__text li:first-child .footer__icon {
      width: 26px;
      height: 26px;
      margin-left: -2px; }
  .footer__icon {
    width: 22px;
    height: 22px;
    margin-right: 1rem; }
  .footer__rights {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border-top: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .footer .copyright {
    font-size: 0.75rem;
    padding-top: 0.25rem;
    width: 50%; }
  .footer__top .link {
    font-size: 0.75rem;
    padding-top: 0.25rem;
    width: 50%; }

.nav {
  grid-column: 1/span 12;
  color: #FFFFFF !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  font-family: "Scope One", serif;
  z-index: 5; }
  .nav__link {
    text-decoration: none;
    transition: 0.2s; }
  .nav ul {
    margin: 0;
    padding: 0; }
  .nav__logo img {
    width: 100%;
    height: 100%; }
  .nav__item li {
    list-style: none;
    display: inline; }
  .nav--dark {
    background-color: #212121; }

.nav--desktop {
  display: none;
  width: calc(100% - 16rem);
  padding-left: 8rem;
  padding-right: 8rem; }
  @media only screen and (min-width: 1024px) {
    .nav--desktop {
      display: flex; } }
  .nav--desktop .nav__link {
    color: #FFFFFF;
    margin-left: 2rem; }
    .nav--desktop .nav__link:hover {
      color: #ABC148 !important; }
  .nav--desktop .nav__logo {
    width: 50px;
    height: 44px;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem; }

.nav--mobile {
  width: calc(100% - 2rem);
  background-color: rgba(33, 33, 33, 0.9);
  padding-left: 1rem;
  padding-right: 1rem; }
  @media only screen and (min-width: 1024px) {
    .nav--mobile {
      display: none; } }
  .nav--mobile .nav__logo {
    width: 32px;
    height: 28px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; }
  .nav--mobile .nav--burger {
    display: none;
    width: 100%;
    height: 100vh;
    background: #bcce6e;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4; }
    .nav--mobile .nav--burger img {
      width: 68px;
      height: 60px;
      display: block;
      margin: 0 auto;
      margin-top: 2.5rem; }
    .nav--mobile .nav--burger .nav__link {
      color: #344A20;
      font-size: 1.62rem; }
    .nav--mobile .nav--burger li {
      display: block;
      text-align: center;
      margin: 20px 137px 20px 137px; }

.nav--desktop.scrolled {
  color: #FFFFFF;
  background-color: #212121 !important;
  transition: background-color 180ms linear;
  z-index: 3; }

.news {
  text-align: center; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }
