/*------------------------------------*\
** COLORS
\*------------------------------------*/
/*------------------------------------*\
** COLORS
\*------------------------------------*/
/*------------------------------------*\
** RESPONSIVNESS AND GRID
\*------------------------------------*/
/*------------------------------------*\
** LAYOUT AND GRID
\*------------------------------------*/
/*------------------------------------*\
** MIXIN ZA GENERIRANJE MEDIA QUERYJA
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Khula|Scope+One");
body {
  color: #212121;
  font-family: "Khula", sans-serif;
  line-height: 27px;
  margin: 0;
  padding: 0; }

.container__content {
  width: 85%;
  margin: 0 auto; }

h1 {
  font-family: "Scope One", serif; }
  @media only screen and (min-width: 0) {
    h1 {
      font-size: 50px;
      line-height: 40px;
      /* [1] */ } }
  @media only screen and (min-width: 1024px) {
    h1 {
      font-size: 32px;
      line-height: 50px;
      /* [1] */ } }

h2 {
  font-family: "Scope One", serif; }
  @media only screen and (min-width: 0) {
    h2 {
      font-size: 22px; } }
  @media only screen and (min-width: 1024px) {
    h2 {
      font-size: 24px; } }

a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 15px; }

a:hover {
  color: #7F9425; }

hr {
  border: 1px solid #FFFFFF;
  width: 80%; }

#mapid {
  height: 256px;
  width: 100%; }

.btn {
  background-color: #7F9425;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; }

.carousel {
  width: 624px !important;
  height: 100%;
  background-color: #FFFFFF;
  box-shadow: -5px 5px 20px 0px rgba(141, 141, 141, 0.25);
  top: 3rem;
  left: 8rem; }
  .carousel__item {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  .carousel .owl-nav {
    display: none !important; }
  .carousel .owl-dots {
    position: absolute;
    top: 100%;
    left: calc(50% - 32px);
    margin-top: 1rem; }
  .carousel .owl-dot {
    width: 2rem;
    height: 3px;
    margin-left: 4px;
    margin-right: 4px; }
  .carousel .owl-dot span {
    width: 100% !important;
    height: 100% !important;
    background: rgba(188, 188, 188, 0.5);
    margin: 0 !important;
    transition: .2s; }
  .carousel .owl-dot.active span {
    background: #ABC148 !important; }
  .carousel .owl-dot.active span:hover {
    background: #bcbcbc; }
  .carousel .owl-dot.active span:focus, .carousel span:active, .carousel span:hover {
    outline: none; }

.gallery {
  grid-column: 1/span 12; }
  .gallery--wrap {
    height: 40vh; }

.form {
  padding: 5px 0; }
  .form__input {
    background-color: #ABC148;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ABC148;
    border-radius: 3px 0 0 3px;
    width: 263px;
    height: 28px; }

.textarea {
  background-color: #ABC148;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ABC148;
  border-radius: 3px 0 0 3px;
  width: 542px;
  height: 68px; }

.testimonial {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  padding-left: 2rem;
  padding-right: 2rem; }
  .testimonial__info {
    display: block;
    width: 624px !important;
    height: 100%;
    box-shadow: 5px 5px 20px 0px rgba(141, 141, 141, 0.25);
    background-color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    top: 3rem;
    left: 8rem; }
  .testimonial__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 354px; }
  .testimonial__img--wrap {
    width: calc(50% + 8rem);
    height: 450px;
    margin-right: -8rem; }
  .testimonial__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }
  .testimonial__portrait {
    width: 150px;
    height: 149.58;
    object-fit: cover;
    object-position: center; }

.grid {
  display: grid;
  grid-template-columns: 8rem repeat(10, minmax(auto, 1fr)) 8rem; }
  .grid--gap {
    grid-column-gap: 1rem; }

.testimonial {
  grid-column: 1/span 10; }

.section {
  grid-column: 2/span 10; }
  .section__item {
    display: flex; }
  .section__text {
    width: 50%;
    height: 354px; }
  .section__img--wrap {
    width: calc(50% + 8rem);
    height: 450px;
    margin-right: -8rem; }
  .section__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }
  .section__portrait {
    width: 150px;
    height: 149.58;
    object-fit: cover;
    object-position: center; }

.header {
  grid-column: 1/span 12;
  background-image: url("../img/header.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
  color: #FFFFFF; }
  .header__title {
    padding-top: 5rem;
    position: absolute;
    left: calc(50% - 310.02px);
    z-index: 1;
    line-height: 89px;
    text-align: center;
    text-shadow: 2px 2px #212121; }
    .header__title--bigger {
      font-size: 64px; }
    .header__title--smaller {
      font-size: 32px; }
    @media only screen and (min-width: 0) {
      .header__title h1 {
        line-height: 40px;
        padding-top: 0; } }
    @media only screen and (min-width: 1024px) {
      .header__title h1 {
        line-height: 46px;
        /* [1] */
        padding-top: 30px; } }
  .header__txt {
    position: absolute;
    top: 27rem;
    left: calc(50% - 133.44px);
    width: 250px;
    height: 130px;
    z-index: 2;
    background-color: #7F9425;
    border-radius: 8px;
    border: solid;
    text-align: center;
    font-family: "Scope One", serif;
    transform: rotate(5deg); }
    @media only screen and (min-width: 0) {
      .header__txt {
        line-height: 25px;
        /* [1] */ } }
    @media only screen and (min-width: 1024px) {
      .header__txt {
        line-height: 25px;
        /* [1] */ } }
    .header__txt--bigger {
      font-size: 22px; }
    .header__txt--smaller {
      font-size: 12px; }
  .header__txt::after {
    content: "";
    display: block;
    width: 114px;
    height: 2px;
    background-color: #BCBCBC;
    transform: rotate(20deg);
    position: absolute;
    top: -1.3rem;
    left: 55%; }
  .header__txt::before {
    content: "";
    display: block;
    width: 114px;
    height: 2px;
    background-color: #BCBCBC;
    transform: rotate(-20deg);
    position: absolute;
    top: -1.3rem;
    right: 55%; }
  .header__img {
    position: absolute;
    top: 0;
    left: calc(50% - 300px); }
    @media only screen and (min-width: 0) {
      .header__img {
        display: none; } }
    @media only screen and (min-width: 1024px) {
      .header__img {
        display: block; } }
  .header__img img {
    border-radius: 3px; }

footer {
  background-color: #344A20;
  color: #FFFFFF; }

.footer {
  text-align: center;
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: space-between; }
  .footer a {
    color: #7F9425; }
  .footer a:hover {
    color: #8D8D8D; }
  .footer img {
    width: 48px;
    padding: 15px 0 5px 0; }
  .footer p:nth-child(5) {
    margin: 0;
    font-size: 12px; }

.nav {
  grid-column: 1/span 12;
  width: calc(100% - 16rem);
  color: #FFFFFF !important;
  display: flex;
  justify-content: space-between;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 8px;
  position: fixed;
  font-family: "Scope One", serif;
  z-index: 2; }
  .nav ul {
    margin: 0;
    padding: 0; }
  .nav__logo img {
    width: 40px; }
  .nav__item li {
    list-style: none; }
    @media only screen and (min-width: 640px) {
      .nav__item li {
        display: inline; } }
  @media only screen and (min-width: 0) {
    .nav__item a {
      padding: 5px 10px; } }
  @media only screen and (min-width: 640px) {
    .nav__item a {
      padding: 10px 20px; } }

.nav.scrolled {
  color: #FFFFFF;
  background-color: #212121 !important;
  transition: background-color 180ms linear;
  z-index: 3; }

.layout--text {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem; }
.layout--main {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem; }
.layout--full {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem; }

.news {
  text-align: center;
  padding: 20px; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ }

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.owl-carousel .owl-item img {
  display: block;
  width: 100%; }

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit; }

.owl-carousel.owl-loaded {
  display: block; }

.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }

.owl-carousel.owl-hidden {
  opacity: 0; }

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }

.owl-carousel.owl-rtl {
  direction: rtl; }

.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
  /**
			This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
			calculation of the height of the owl-item that breaks page layouts
		 */ }

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px; }

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none; }

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791; }

/*# sourceMappingURL=main.css.map */
