.footer {
	grid-column: 1/span 12;
	width: 100%; 
	padding-left: 8rem;
	padding-right: 8rem;
	display: flex;
	flex-wrap: wrap; 
	background-color: $dark-green;
	color: $white;
	

&__info {
	width: 49%;
}
 

.icon {
	width: 24px;
	height: 24px;
}


 ul {
  list-style-type:none;
  text-align: left;
 }

}

.footer__rights{
	width: 100%;
}