.footer {
	grid-column: 1/span 12;

	&__info--wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: calc(100% - 2rem);
		color: $white;
		background-color: $dark-green;
		padding-left: 1rem;
		padding-right: 1rem;
		
		@include breakpoint ($large) {
			width: calc(100% - 16rem);
			padding-left: 8rem;
			padding-right: 8rem;
		}
	}

	&__info {
		margin-top: 1.5rem;
		width:100%;

		@include breakpoint ($large) {
			width: 49%;
		}
	}

	&__text {
		list-style-type: none;
		padding-left: 0;

		li {
			display: flex;
			align-items: center; 
			margin-bottom: 1rem;
		}

		li:first-child .footer__icon {
			width: 26px;
			height: 26px;
			margin-left: -2px;
		}
	}

	&__icon {
		width: 22px;
		height: 22px;
		margin-right: 1rem;
	}

	&__rights {
		width: 100%;
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		border-top: 1px solid;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.copyright {
		font-size: 0.75rem;
		padding-top: 0.25rem;
	}

	&__top {

		.link {
			font-size: 0.75rem;
			padding-top: 0.25rem;
		}
	}
}

