.grid {
  display: flex;
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: no-wrap !important;
}

.grid--gutters {
  margin-left: calc( #{$gutter} / -2 );
  margin-right: calc( #{$gutter} / -2 );
}

.grid--gutters > .cell {
  padding-left: calc( #{$gutter} / 2 );
  padding-right: calc( #{$gutter} / 2 );
}

.cell {
  box-sizing: border-box;
}

.cell--auto {
  flex: 1;
}

@for $i from 1 through 12 {
  .cell--#{$i} {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: calc( 100% * ( #{$i} / 12 ) )
  }
}

@each $key, $value in $breakpoints {
  @include breakpoint ($value) {
    @for $i from 1 through 12 {
      .cell--#{$i}--#{$key} {
        flex-shrink: 0;
        flex-grow: 0;
        flex-basis: calc( 100% * ( #{$i} / 12 ) )
      }
    }
  }
}