.grid {
  display: grid;
  grid-template-columns: 8rem repeat(10, minmax(auto, 1fr)) 8rem;

  &--gap {
    grid-column-gap: 1rem;
  }
}

.section {
  grid-column: 2/span 10;

  &__text {
    box-shadow: -5px, 5px 20px rgba(141, 141, 141, 0.25);
  }
}
