.nav {
	grid-column: 1/span 12;
	width: calc(100% - 16rem); 
	color: $white !important;
	display: flex;
	justify-content: space-between;
	padding-left: 8rem;
	padding-right: 8rem;
	padding-top: 8px;
	position: fixed;
	font-family: $font-title;
	z-index: 2;

	a {
	color: $white ;
	text-decoration: none;
	padding: 10px 15px;
	}

	a:hover {
	 	color: $green !important;
	}  


	ul {
		margin: 0;
		padding: 0;
	}
	
	&__logo img {
		width: 40px;
	}

	&__item li {
		list-style: none;
		
		@include breakpoint ($medium) {
			display: inline;
		}
	}

	&__item a {
		@include breakpoint ($small) {
			padding: 5px 10px;
		}

		@include breakpoint ($medium) {
			padding: 10px 20px;
		}
	}
}


.nav.scrolled {
  color: $white;
  background-color: $black !important;
  transition: background-color 180ms linear;
  z-index: 3;
}