.news {
	text-align: center;

	&__text {

		hr {
			display: block;
			width: 75%;
		    height: 1px;
		    border: 0;
		    border-top: 1px solid lighten($light-gray, 5%);
			margin-top: 2rem;
		}

		@include breakpoint ($large) {
		  	
		  	hr {
				margin-top: 3rem;
			}
		}
	}
}
