.btn {
  display: inline-block;
  color: white;
  background-color: $green;     
  border: none;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 16px;
}
