.carousel {
	width: 624px!important;
	height: 100%;
	background-color: $white;
	box-shadow: -5px 5px 20px 0px rgba(141, 141, 141, 0.25);
	top: 3rem;
	left: 8rem;

	&__item {
		padding-top: 2rem;
		padding-bottom: 2.5rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.owl-nav {
		display: none!important;
	}

	.owl-dots {
		position: absolute;
		top: 100%;
		left: 16rem;
		margin-top: 0.75rem;
	}

	.owl-dot {
		width: 2rem;
		height: 3px;
		margin-left: 4px;
		margin-right: 4px;
	}

	.owl-dot span {
		width: 100%!important;
		height: 100%!important;
		background: rgba($light-gray, 0.5);
		margin: 0!important;
		transition: .2s;
	}

	.owl-dot:hover span {
		background: rgba($light-gray, 0.8)!important;
	}

	.owl-dot.active span {
		background: $light-green!important;
	}

	.owl-dot.active span:hover {
		background: rgba($light-green, 0.8)!important;
	}

	.owl-dot:focus, .owl-dot:active, .owl-dot:hover,
	.owl-dot.active:focus, .owl-dot.active:active, .owl-dot.active:hover {
		outline: none!important;
		outline-color: transparent!important;
	}

	.owl-dot span:focus, .owl-dot span:active, .owl-dot span:hover,
	.owl-dot.active span:focus, .owl-dot.active span:active, .owl-dot.active span:hover {
		outline: none!important;
		outline-color: transparent!important;
	}

	&--menu {
		width: 100%!important;
		box-shadow: none;
		top: 0;
		left: 0;

		.carousel__item {
			padding: 0;
			box-shadow: 0 1px 3px 0px rgba($black, 0.25);
		}
	}
}
