.form {
	width: 100%;	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 2rem;

	@include breakpoint ($large) {
		width: 49%;
		margin-top: 4rem;
		}


	&__label {
		display: block;
		color: $light-gray;
		font-family: $font-title;
		font-size: 0.75rem;
		line-height: 0.875rem;
	}

	&__field {	
		width: 100%;
		margin-bottom: 1rem;

	@include breakpoint ($large) {
		width: 49%;
		}

		&:nth-child(3) {
			width: 100%;
			margin-bottom: 1.25rem;
		}
	}

	&__input, &__textarea {
		width: calc(100% - 20px);
		color: $white;
		background-color: rgba($light-green, 0.3);
		border: none;
		line-height: 1.25rem;
		padding: 6px 10px;

		&:focus {
			background-color: rgba($light-green, 0.3);
			outline: none;
		}
	}

	&__textarea {
		resize: none;
	}

	&__btn {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
}
