.gallery {
	grid-column: 1/span 12;
	margin-top: -4rem;
	overflow: hidden;

	@include breakpoint ($large) {
  	margin-top: 0;
  }

	&__img--wrap {
		width: 100%;
		height: 320px;
   	cursor: grab;

   	@include breakpoint ($large) {
    	height: 480px;
    }
	}

	&__img {
		width: 100%;
   	height: 100%;
    object-fit: cover;
    object-position: center;
	}

	.owl-nav, .owl-dots {
		display: none!important;
	}
}
