.map {
	width: 100%;
	height: 160px;

	@include breakpoint ($large) {
      height: 256px;
    }

	.leaflet-pane {
		z-index: 3!important;
	}

	.leaflet-bottom.leaflet-right {
		z-index: 3!important;
	}
}
