// COLORS

$light-green: #ABC148;
$green: #7F9425;
$dark-green: #344A20;
$white: #FFFFFF;
$light-gray: #BCBCBC;
$gray: #8D8D8D;
$dark-gray: #4D4D4D;
$black: #212121;


// FONTS

@import url('https://fonts.googleapis.com/css?family=Khula|Scope+One');

$font-size: 16px;
$font-title: 'Scope One', serif;   
$font-text: 'Khula', sans-serif;


// BREAKPOINTS

$small: 0;
$medium: 640px;
$large: 1024px;
$xlarge: 1600px;

$breakpoints: (
	small: $small,
	medium: $medium,
	large: $large,
  xlarge: $xlarge
);


// HEADINGS

$h1-font-sizes: (
  small: (3.5rem, 1.2),
  medium: (3.75rem, 1.2),
  large: (4rem, 1.2)
);

$h2-font-sizes: (
  small: (2.25rem, 1.2),
  medium: (2.5rem, 1.2),
  large: (3rem, 1.2)
);

$h3-font-sizes: (
  small: (1.625rem, 1.2),
  medium: (1.75rem, 1.2),
  large: (2rem, 1.2)
);

$h4-font-sizes: (
  small: (1.125rem, 1.2),
  medium: (1.125rem, 1.2),
  large: (1.25rem, 1.2)
);

$h5-font-sizes: (
  small: (1rem, 1.2),
  medium: (1rem, 1.2),
  large: (1rem, 1.2)
);

$h6-font-sizes: (
  small: (0.75rem, 1.2),
  medium: (0.75rem, 1.2),
  large: (0.75rem, 1.2)
);
